html{
    background-color:black;
}
#container{
    height:710px;
    width:1080px;
    margin:0 auto;
    background-image:url("pics/notepad1.jpg");
    padding-top:5px;
}
.imageViewer{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height:400px;
    width:300px;
    margin-left:5px;
    border-top:1px solid #ffb870;
    border-left:1px solid #ffb870;
    border-right:1px solid #ff8b42;
    border-bottom:1px solid #ff8b42;
    background-color:#ffffcc;
}
.windowHeader{
    height:30px;
    width:290px;
    padding:5px;
    background-color:#ff8b42;
}
    .headerIcon{
        float:left;
    }
    .windowHeader p{
        margin-top: 2px;
        margin-left: 34px;
    }
    .close{
        float:right;
    }
    .close img{
        height:10px;
        width:10px;
        padding: 1px;
        background-color: #ffb870;
        border-top: 1px solid beige;
        border-left: 1px solid beige;
    }
.windowBody{
    height:340px;
    width:300px;
    overflow-y:scroll;
}
    #thumbImg{
        float:left;
        margin:2px auto;
    }
.windowFooter{
    height:20px;
    width:300px;
    background-color:#ff8b42;
}
    .windowFooter p{
        height:12px;
        margin-top:0;
        margin-left: 3px;
        font-size: small;
    }
footer{
    background-color:#ff8b42;
    position:absolute;
    margin-top:681px;
    height:30px;
    width:1076px;
    padding:2px;
    border-top:1px solid #ffb870;
}